@font-face {
    font-family: "BwMitga";
    src: url("fonts/BwMitga-Black.otf");
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    padding-right: 20px;
    color: #F0FFFF;
}

.contact-us {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("contact-us.png");
    background-blend-mode: multiply;
    background-position: top;
}

.store-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "BwMitga";
    font-weight: normal;
    color: white;
}

.store-name-large {
    font-size: 8em;
}