@font-face {
    font-family: "Graduate";
    src: url("fonts/Graduate-Regular.ttf");
}

@font-face {
    font-family: "Special Elite";
    src: url("fonts/SpecialElite-Regular.ttf");
}

@font-face {
    font-family: "BwMitga";
    src: url("fonts/BwMitga-Black.otf");
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    padding-right: 20px;
    color: #F0FFFF;
}

.covid-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("covid.jpg");
    background-blend-mode: multiply;
    background-size: 1000px;
    padding-bottom: 30px;
}

.store-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "BwMitga";
    font-weight: normal;
    color: white;
}

.store-name-large {
    font-size: 8em;
}

.number {
    font-family: 'Special Elite';
    font-size: 60px;
}

.cases-text {
    font-size: 80px;
    font-family: "Graduate";
    color: #F0FFFF;
}